.home__hero {
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100%;
  margin-top: -4.84rem;
  padding: 6rem 1rem;
}

@media screen and (min-width: 41.25rem) {
  .home__hero {
    background-image: url("../../assets/home/background-home-tablet.jpg");
    padding: 8.5rem 1rem;
  }
}

@media screen and (min-width: 68.125rem) {
  .home__hero {
    background-image: url("../../assets/home/background-home-desktop.jpg");
    padding: 8.5rem 1rem;
  }
}
