* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Clr-white: rgba(255, 255, 255, 1);
  --Dark-gray: rgba(208, 214, 249, 1);
}

body {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 80px;
  font-family: "Bellefair", serif;
}

h2 {
  font-size: 63px;
}

/* h3 {
} */

h4 {
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
}

p {
  color: var(--Dark-gray);
  font-size: 15px;
  font-family: "Barlow", sans-serif;
}
