* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Clr-white: rgba(255, 255, 255, 1);
  --Dark-gray: rgba(208, 214, 249, 1);
  --Text-color: rgb(208, 214, 249);
  --Dark-text: rgba(11, 13, 23, 1);
  --Light-gray: rgb(56, 59, 75);
}

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
  color: var(--Clr-white);
}

h1 {
  font-size: 80px;
  font-family: "Bellefair", serif;
}

h2 {
  font-size: 63px;
}

h3 {
  font-family: "Bellefair", serif;
}

h4 {
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
}

p {
  color: var(--Dark-gray);
  font-family: Barlow Condensed;
  font-weight: 400;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.intro_text {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
  color: var(--Dark-gray);
}

.intro_num {
  color: var(--Dark-);
  text-transform: uppercase;
  margin-left: 0.3rem;
  color: var(--Text-color);
  margin-right: 0.5rem;
  display: inline-block;
}

section,
.home__hero {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  min-height: 100vh;
  margin-top: -4.84rem;
  padding: 9rem 0 0.2rem;
}

@media screen and (min-width: 41.25rem) {
  .wrapper {
    padding: 0 2.5rem;
  }

  .intro_text {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
    text-align: left;
    text-align: left;
  }
}

@media screen and (min-width: 60rem) {
  .wrapper {
    padding: 0 3rem;
  }
}
